var selectAnimation = function(index,nowPage,pageAnimation,pageUpDelayAnimation,pageDownDelayAnimation){
    return nowPage == index ? pageAnimation : nowPage > index ? pageUpDelayAnimation : pageDownDelayAnimation;
};
var selectClass = function(index,nowPage,nowPaged){
    var zIndex = nowPage == index ? '_20index' : '_10index';
    var position = nowPaged == index ? 'page_now' : nowPaged > index ? 'page_up' : 'page_down';
    return zIndex + ' ' + position ;
}
module.exports = {
    selectAnimation:selectAnimation,
    selectClass:selectClass
};